@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bangazon Workforce Management Solutions</h1>
</div>

<ul>
    <li>@Html.ActionLink("Employees", "Index", "Employees")</li>
    <li>@Html.ActionLink("Departments", "Index", "Departments")</li>
    <li>@Html.ActionLink("Computers", "Index", "Computers")</li>
    <li>@Html.ActionLink("Training Programs", "Index", "TrainingPrograms")</li>

</ul>